#home{
    display: flex;
    min-height: calc(100vh - 90px) ;
}

#cta{
    width: 35% ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5%;
}

#cta .title{
    font-size: 300px;
    color: #1d1d1d;
}

#cta .title spam{
    color: #9c6e47;
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;
}

#phone_buttom{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: white;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba (0, 0, 0, 0.1) ;
    border-radius: 12px;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img{
    margin-top: 85px;
    height: 80%;
    width: 50%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
}

.shape{
    margin-top: 85px;
    background-color: #ffe8b4;
    width: 50%;
    height: 80%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
}